<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <body>
    <%- include("../../partials/navbar.ejs") %>

    <div class="auth-container">
      <% if (locals.message) { %>
      <h1>message</h1>

      <% } %>
      <h1>REGISTER</h1>
      <form action="/api/v1/auth/register" method="post">
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" />
          <p class="email-error"></p>
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" name="password" />
          <p class="password-error"></p>
        </div>

        <div>
          <label for="firstName">Firstname</label>
          <input type="text" name="firstName" />
          <p class="firstname-error"></p>
        </div>

        <div>
          <label for="lastName">Lastname</label>
          <input type="text" name="lastName" />
          <p class="lastname-error"></p>
        </div>

        <div>
          <label for="registrationNumber">Registration Number</label>
          <input type="text" name="registrationNumber" />
          <p class="registrationNumber-error"></p>
        </div>

        <div>
          <label for="selectedCourse">Select a Course:</label>
          <select id="selectedCourse" name="selectedCourse" required>
            <% User.schema.path('courses').enumValues.forEach(course => { %>
            <option value="<%= course %>"><%= course %></option>
            <% }); %>
          </select>
        </div>
        <button type="submit">REGISTER</button>
      </form>
    </div>
    <%- include('../../partials/footer') -%>

    <script src="/js/auth/signup.js"></script>
  </body>
</html>
