<!DOCTYPE html>
<html lang="en">
  <%- include("../../../partials/head.ejs") %>
  <body>
    <%- include("../../../partials/navbar.ejs") %>
    <div class="upload-container">
      <% if(locals.file) {%>

      <h1><%= locals.file._id %></h1>
      <h1><%= locals.file.title %></h1>
      <h1><%= locals.file.heading %></h1>
      <h1><%= locals.file.description %></h1>
      <h1><%= locals.file.type %></h1>

      <% } %>

      <form
        data-doc="<%= locals.file._id %>"
        action="/api/v1/course/edit/course/<%= locals.file._id %>"
        method="post"
      >
        <label for="heading">HEADING:</label>
        <input
          type="text"
          id="heading"
          name="heading"
          placeholder="topic of this upload"
          value="<%= locals.file.heading %>"
        />
        <label for="title">COURSE TITLE:</label>
        <select id="title" name="title" required>
          <!-- <option value="default" disabled selected hidden>Choose Title</option> -->
          <option value="<%= locals.file.title %>">
            CURRENTLY SELECTED : <%= locals.file.title %>
          </option>
          <% locals.User.schema.path('courses').enumValues.forEach(title => { %>
          <option value="<%= title %>"><%= title %></option>
          <% }); %>
        </select>

        <label for="course">TYPE OF UPLOAD:</label>
        <select name="type" id="type">
          <!-- <option value="default" disabled selected hidden>
            Choose Upload Type
          </option> -->
          <option value="<%= locals.file.type %>">
            CURRENTLY SELECTED : <%= locals.file.type %>
          </option>
          <option value="assignment">ASSIGNMENT</option>
          <option value="note">NOTE</option>
          <option value="aoc">AOC</option>
          <option value="practical">PRACTICAL</option>
        </select>
        <label for="description">DESCRIPTION:</label>
        <textarea name="description" id="description" cols="30" rows="10">
        </textarea>
        <button style="grid-column: span 2" type="submit">
          EDIT / MAKE CHANGES
        </button>
      </form>
    </div>

    <button>
      <a href="/api/v1/course/edit/password/<%= locals.file._id  %>">
        CHANGE DOCUMENT PASSWORD</a
      >
    </button>

    <button>
      <a href="/api/v1/course/edit/file/<%= locals.file._id  %>">
        CHANGE FILE UPLOADED</a
      >
    </button>
    <%- include("../../../partials/footer.ejs") %>

    <!-- <script src="/js/course/handleEdit.js"></script> -->
  </body>
</html>
