<!DOCTYPE html>
<html lang="en">
  <%- include("../../../partials/head.ejs") %>
  <body>
    <%- include("../../../partials/navbar.ejs") %>
    <div class="upload-container">
      <% if(locals.file) {%>

      <h1><%= locals.file._id %></h1>
      <h1><%= locals.file.title %></h1>
      <h1><%= locals.file.heading %></h1>
      <h1><%= locals.file.description %></h1>
      <h1><%= locals.file.type %></h1>

      <% } %>

      <div>
        <label for="type">TYPE</label>
        <h1><%= locals.file.type %></h1>
      </div>

      <form
        action="/api/v1/course/edit/course/password/<%= locals.file._id %>"
        method="post"
      >
        <div>
          <label for="title">TITLE</label>
          <h1><%= locals.file.title %></h1>
          <input type="hidden" name="title" value="<%= locals.file.title %>" />
        </div>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" minlength="3" />
        <button style="grid-column: span 2" type="submit">
          CHANGE PASSWORD
        </button>
      </form>
    </div>

    <%- include("../../../partials/footer.ejs") %>

    <!-- <script src="/js/course/handleEdit.js"></script> -->
  </body>
</html>
