<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="upload-container">
      <% if(locals.file) {%>

      <h1><%= locals.file._id %></h1>

      <% } %>

      <form action="/api/v1/user/edit/<%= file._id %> " method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= file.title %> " />
        <label for="course">COURSE:</label>

        <select name="course" id="course">
          <% if (locals.file.course === "CHEMISTRY") { %>
          <option value="<%= file.course %> ">
            CURRENTLY SELECTED :- <%= file.course %>
          </option>
          <option value="PHYSICS">PHYSICS</option>
          <% } %> <% if (locals.file.course === "PHYSICS") { %>
          <option value="<%= file.course %> ">
            CURRENTLY SELECTED :- <%= file.course %>
          </option>
          <option value="CHEMISTRY">CHEMISTRY</option>
          <% } %>
        </select>
        <label for="description">DESCRIPTION:</label>
        <textarea name="description" id="description" cols="30" rows="10">
<%= file.description %></textarea
        >

        <button style="grid-column: span 2" type="submit">Share</button>

        <% if (locals.fileLink != null) { %>
        <div>
          Your file is uploaded at
          <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
        <% } %>
      </form>
    </div>
  </body>
</html>
