<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <section class="container">
      <%- include("../partials/navbar.ejs") %> <% if (locals.file.length > 0) {
      %> <% file.forEach(element => { %>
      <article>
        <h1><%= element.title %></h1>

        <a href="/api/v1/user/document/<%= element._id %>"
          ><button>READ MORE ABOUT THIS DOCUMENT</button></a
        >
        <a href="/api/v1/user/edit/<%= element._id %>"
          ><button>EDIT THIS DOCUMENT</button></a
        >

        <a href="<%= element.fileLink  %>">
          <button>DOWNLOAD LINK</button>
        </a>
      </article>

      <% }) %> <% } else { %>

      <h1 class="display">NOTHING UPLOADED</h1>
      <% } %>
    </section>
  </body>
</html>
