<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <h3>TITLE:</h3>
    <h1><%= document.title %></h1>
    <h3>DESCRIPTION:</h3>
    <h1><%= document.description %></h1>
    <h3>COURSE:</h3>
    <h1><%= document.course %></h1>

    <button class="delete" data-doc="<%= document._id %> ">DELETE</button>

    <a href="<%= document.fileLink  %>">
      <button>DOWNLOAD LINK</button>
    </a>

    <script>
      const trashcan = document.querySelector("button.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/api/v1/user/delete/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => {
            alert(data.message);
            window.location.href = data.redirect;
          })
          .catch((error) => console.log(error));
      });
    </script>
  </body>
</html>
