<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>

  <body>
    <main>
      <h3>COURSE UPLOADS</h3>
      <section class="container_home">
        <%- include("../../partials/navbar.ejs") %> <% course.forEach(document=>
        { %>
        <article class="<%= document.type %>">
          <h1><%= document.title %></h1>
          <h1><%= document.course %></h1>
          <h1><%= moment(document.createdAt).fromNow() %></h1>
          <div>
            <a href="/api/v1/course/document/<%= document._id %>"
              ><button><i class="bx bx-book-reader"></i> READ MORE</button></a
            >
            <a href="/api/v1/course/edit/<%= document._id %>"
              ><button>
                <i class="bx bxs-edit-alt"></i>
              </button>
            </a>

            <a href="<%= document.fileLink  %>">
              <button>
                <i class="bx bx-download bx-flip-horizontal"></i>
                <%= document.downloadCount %>
              </button>
            </a>
          </div>
        </article>
        <% }) %>
      </section>
    </main>

    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
