<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="upload-container">
      <% if(locals.file) {%>

      <h1><%= locals.file.title %></h1>
      <h1><%= locals.file.originalName %></h1>

      <% } %>

      <form
        action="/api/v1/course/edit/<%= file._id %> "
        method="post"
        enctype="multipart/form-data"
      >
        <label for="file">File:</label>
        <input type="file" id="file" name="file" value="<%= file.path %> " />
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= file.title %> " />

        <label for="description">DESCRIPTION:</label>
        <textarea name="description" id="description" cols="30" rows="10">
<%= file.description %></textarea
        >

        <label for="course">PASSWORD:</label>
        <input type="password" id="password" name="password" />
        <button style="grid-column: span 2" type="submit">Share</button>
      </form>
    </div>
    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
