<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="upload-container">
      <% if(locals.file) {%>

      <h1><%= locals.file.title %></h1>
      <h1><%= locals.file.originalName %></h1>

      <% } %>

      <form
        action="/api/v1/course/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="heading">HEADING:</label>
        <input type="text" id="heading" name="heading" />
        <label for="title">COURSE TITLE:</label>
        <select id="title" name="title" required>
          <% locals.User.schema.path('courses').enumValues.forEach(title => { %>
          <option value="<%= title %>"><%= title %></option>
          <% }); %>
        </select>

        <label for="course">TYPE OF UPLOAD:</label>
        <select name="type" id="type">
          <option value="default" disabled selected hidden>
            Choose a Type
          </option>

          <option value="assignment">ASSIGNMENT</option>
          <option value="note">NOTE</option>
          <option value="aoc">AOC</option>
          <option value="practical">PRACTICAL</option>
        </select>
        <label for="description">DESCRIPTION:</label>
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="10"
        ></textarea>

        <button style="grid-column: span 2" type="submit">Share</button>

        <% if (locals.downloadLink != null) { %>
        <div>
          Your file is uploaded at
          <a href="<%= locals.downloadLink %>"><%= locals.downloadLink %></a>
        </div>
        <% } %>
      </form>
    </div>
    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
