<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>

  <body>
    <main>
      <%- include("../../partials/navbar.ejs") %> <% if (locals.user.role ===
      'admin') { %>

      <h1>ADMIN <%= locals.user.firstName %></h1>

      <section class="container_home">
        <% locals.User.schema.path('courses').enumValues.forEach(title => { %>

        <a href="/api/v1/course/category/<%= title %>">
          <button>
            <h1><%= title %> CLASS</h1>
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </a>

        <% }); %>
      </section>

      <% } else { %> <% if (locals.user) { %>
      <h2>WELCOME, USER <%= locals.user.firstName %></h2>
      <h3>Courses registered for:</h3>

      <% locals.user.selectedCourse.forEach(function(course) { %>

      <a href="/api/v1/course/category/<%= course %>">
        <button>
          <h1><%= course %> CLASS</h1>
          <i class="bx bx-right-arrow-alt"></i>
        </button>
      </a>
      <% }); %> <% } %> <% } %>
    </main>

    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
