<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>

  <body>
    <main>
      <%- include("../../partials/navbar.ejs") %> <%
      locals.User.schema.path('courses').enumValues.forEach(course => { %>

      <section class="container_home">
        <a href="/api/v1/course/document/course/<%= course %>">
          <button>
            <h1><%= course %> CLASS</h1>
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </a>
      </section>

      <% }) %>
    </main>

    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
